{% load allauth %}
{% if attrs.form.non_field_errors %}
    <div class="bg-red-50 border border-red-200 text-sm text-red-800 rounded-lg p-4" role="alert" tabindex="-1" aria-labelledby="hs-with-list-label">
        <div class="flex">
            <div class="shrink-0">
                <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="m15 9-6 6"></path>
                    <path d="m9 9 6 6"></path>
                </svg>
            </div>
            <div class="ms-4">
                {% for error in attrs.form.non_field_errors %}
                    <li class="text-sm font-semibold">
                        {{ error | safe }}
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% for bound_field in attrs.form %}
    {% element field unlabeled=attrs.unlabeled name=bound_field.name type=bound_field.field.widget.input_type required=bound_field.field.required value=bound_field.value id=bound_field.auto_id errors=bound_field.errors placeholder=bound_field.field.widget.attrs.placeholder tabindex=bound_field.field.widget.attrs.tabindex autocomplete=bound_field.field.widget.attrs.autocomplete style=bound_field.field.widget.attrs.style %}
        {% slot label %}
            {{ bound_field.label }}
        {% endslot %}
        {% slot help_text %}
            {{ bound_field.field.help_text }}
        {% endslot %}
    {% endelement %}
{% endfor %}
